{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": ["."]
      }
    ],
    "transform-export-extensions",
    "transform-function-bind",
    "transform-decorators-legacy",
  ]
}
