[submodule "ios/irma_configuration/pbdf"]
	path = ios/irma_configuration/pbdf
	url = git@github.com:credentials/pbdf-schememanager.git
[submodule "ios/irma_configuration/irma-demo"]
	path = ios/irma_configuration/irma-demo
	url = https://github.com/credentials/irma-demo-schememanager
