[submodule "ios/irma_configuration/pbdf"]
	path = ios/irma_configuration/pbdf
	url = https://github.com/privacybydesign/pbdf-schememanager
[submodule "ios/irma_configuration/irma-demo"]
	path = ios/irma_configuration/irma-demo
	url = https://github.com/privacybydesign/irma-demo-schememanager
