# General
.DS_Store
*.swp
.idea/
.vscode/
jsconfig.json
/ignore/

# Node / NPM / go dep
node_modules/
npm-debug.*
vendor/

# XCode
/ios/build
*.xcuserstate
*.xcsettings
xcuserdata/
project.xcworkspace/
/ios/Irmagobridge.framework
/ios/sentry.properties

# Android
/android/build
/android/app/build
/android/.gradle
*.jsbundle

# Go libs
*.jar
*.aar
